.cards {         
    height: 620px;
    margin: 30px 5px;
}

.cards:hover{
    box-shadow: 0 0 1px 1px rgb(220, 220, 220);
    background-color: rgb(250, 251, 255);  
}

.cards-img {   
    height: 300px;
    object-fit: contain;
}

.cards-img:hover{
    box-shadow: 0 0 5px 1px rgb(127, 127, 128);
}

.cards-title {
    height: 50px;
    font-weight:700;
    text-align: left; 
}

.div-button-add-favs{
    text-align: right;
}

.text-link:hover{
    font-weight: 500;
}

@media all and (min-width: 990px) {
    .cards {         
        height: 550px;
    }
}