.cards {         
    height: 520px;
    margin: 30px 5px;
}

.cards-img {   
    height: 300px;
    object-fit: contain;
}

.cards-title {
    height: 50px;
    font-weight:700;
    text-align: center; 
}

.div-fav-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
