.cards {         
    height: 650px;
    margin: 20px 5px;
}

.cards-img {   
    height: 300px;
    object-fit: contain;
    //object-fit: scale-down;
    //object-fit: cover;
}

.cards-title {
    height: 3em;
    font-weight:700;
    text-align: center; 
}

.cards-description{
    height: 170px;
}

