
.indiv-view {    
    margin: 5px; 
}

.indiv-img {   
    height: 25em;
    object-fit: contain;
}

.indiv-view-title {  
    height: 3em;
    font-size: 50px;
    font-weight: 900;
    text-align: center; 
}

.button{
    margin: 0 20px;
}
